/* .admintab-area.mg-b-15 {
	height: 100vh;
} */

.text-left {
	text-align: left;
}

.p-0 {
	padding: 0;
}

.mt-10 {
	margin-top: 10px;
}

.d-none{
	display: none;
}

.apDet .styled-input label {
	width: 40%;
}

.ar-danger p {
	color: red;
}
.ar-success p {
	color: green;
}

.admintab-area.mg-b-15 {
    /* display: none; */
    min-height: 78.5vh;
}
